<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Scholarly</h5>
        <p class="grey-text text-lighten-4">Scholarly is a place to learn anything you want!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="https://discord.gg/nXkdhSB">Discord Server</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2017, Scholarly.
    </div>
  </div>
</footer>
